# Worldwide Autism Burden

In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### Importing data

In [2]:
data_1 = pd.read_csv('raw_data/data_1.csv', usecols=['measure_name', 'location_name', 'sex_name', 'age_name', 'year', 'val', 'upper', 'lower'])
data_2 = pd.read_csv('raw_data/data_2.csv', usecols=['measure_name', 'location_name', 'sex_name', 'age_name', 'year', 'val', 'upper', 'lower'])
data_3 = pd.read_csv('raw_data/data_3.csv', usecols=['measure_name', 'location_name', 'sex_name', 'age_name', 'year', 'val', 'upper', 'lower'])

data = pd.concat([data_1, data_2, data_3])

population = pd.read_csv('raw_data/population.csv', names=['country', 'year', 'sex', 'age', 'population', 'random'], usecols=['country', 'year', 'sex', 'age', 'population'], skiprows=1)

### Cleaning data

In [3]:
data.loc[data['measure_name'] == 'DALYs (Disability-Adjusted Life Years)', 'measure_name'] = data.loc[data['measure_name'] == 'DALYs (Disability-Adjusted Life Years)', 'measure_name'].str.slice(stop=6)
data['age_name'] = data['age_name'].str.replace('years', '')
data[['val', 'upper', 'lower']] = data[['val', 'upper', 'lower']].round(2)

data = data[~data.duplicated(keep='first')].reset_index(drop=True)

In [4]:
population = population.loc[population['year'].str.isdigit()]
population['year'] = population['year'].astype(int)
population = population.loc[population['year'].isin([1990,2019])]

population[population['sex'] == 'Both Sexes'] = population[population['age'] == 'Total']
population = population.dropna().reset_index()

population = population[~(population['age'] == 'Unknown')]

             country  year         sex      age  population
1255   Åland Islands  2019  Both Sexes    Total     29836.5
1256   Åland Islands  2019  Both Sexes        0       278.0
1257   Åland Islands  2019  Both Sexes    0 - 4      1541.5
1258   Åland Islands  2019  Both Sexes        1       292.0
1259   Åland Islands  2019  Both Sexes    1 - 4      1263.5
...              ...   ...         ...      ...         ...
91411      Australia  1990      Female  80 - 84    141394.0
91412      Australia  1990      Female  85 - 89     72696.0
91413      Australia  1990      Female  90 - 94     28403.0
91414      Australia  1990      Female     95 +      8024.0
91415      Australia  1990      Female  Unknown         0.0

[4987 rows x 5 columns]